<div class='container py-4'>
    <form
        id='form-access-token'
        class='mb-3 d-flex justify-content-center flex-row align-items-center'
        method='post'
    >
        <input
            id='input-access-token'
            type='text'
            class='form-control me-3'
            placeholder='Enter access token'
        />
        <button class='btn btn-primary px-3' type='submit'>SAVE</button>
    </form>
</div>
<script>
    const inputAccessToken = document.getElementById('input-access-token'); const formAccessToken =
    document.getElementById('form-access-token');
</script>